.postcontainer{
    width: 100% !important;
}
.contentcomment{
    border: none;
}
.media-container{
    border-bottom: 1px solid #bfbfbf;
}
.media-container p{
    margin-left: 60px;
}

.cmt-date{
    display: inline-block;
    text-align: right;
    width: 76%;
}